.link-item {
    margin-right: 10px;
}

.container {
    width: 80%; /* Пример: задайте фиксированную ширину */
    margin: 0 auto; /* Устанавливает автоматические отступы слева и справа, чтобы центрировать контейнер */
    text-align: center; /* Если вы хотите центрировать текст внутри контейнера */
}