{% extends 'static/templates/basic.html' %}

{% block title %} Create new product {% endblock %}

{% block content %}
<div>
    <h2>title -- {{ product.title }}</h2>
    <p>price -- {{ product.price }}</p>
    <p>description -- {{ product.description }}</p>
    <p>specifications -- {{ product.specifications }}</p>
    <p>shop -- {{ product.shop }}</p>
    <p>quantity_product_in_shop -- {{ product.quantity_product_in_shop }}</p>
</div>

<form method="POST">
    {% csrf_token %}
    <p><input type="number" name="quantity_product"/></p>
    <p><input type="submit" value='Create order' name='Create order'/></p>
</form>
{% endblock %}